{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">domain</th>
                    <th scope="col">priority</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for site in sites %}
                        <tr>
                            <td>{{ site.id }}</td>
                            <td>{{ site.name }}</td>
                            <td>{{ site.domain }}</td>
                            <td>{{ site.priority }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('site_log', { site: site.id }) }}">
                                    Stats
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="{{ path('site_edit', { siteId: site.id }) }}">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{{ path('site_remove', { id: site.id }) }}">
                                    Remove
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}